.mainContainer {
  background-image: url(../images/playmat.jpg);
  background-size: 100% 100%;
  /* animation: first 0.5s ease-in-out forwards; */
}
@keyframes first {
  from {
    transform: rotateX(10deg) translateZ(1000px);
  }
  to {
    transform: rotateX(10deg) translateZ(-100px);
  }
}

.card {
  position: relative;
  /* width: 120px; */
  min-height: 160px;
  min-width: 120px;
  background-image: url("../images/cards.jpg");
  background-size: 500% 600%;
  border-radius: 5px;
  margin: 7px 10px;
  border: 2.5px solid whitesmoke;
}

.point {
  background-image: url("../images/numbers_sheet.png");
  background-position-y: -200px;
  z-index: 2;
}

.score {
  background-size: 1000% 300%;
  min-width: 40px;
  min-height: 40px;
}

.price {
  background-size: 1000% 300%;
  min-width: 25px;
  min-height: 25px;
}

.cost {
  background-image: url("../images/numbers_sheet.png");
  background-position-y: -100%;
  background-size: 1000% 300%;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
}

.cost_Black {
  background-position-x: 0%;
}
.cost_White {
  background-position-x: -100%;
}
.cost_Blue {
  background-position-x: -200%;
}
.cost_Green {
  background-position-x: -300%;
}
.cost_Red {
  background-position-x: -400%;
}

.point_1 {
  background-position-x: 0;
}
.point_2 {
  background-position-x: -100%;
}
.point_3 {
  background-position-x: -200%;
}
.point_4 {
  background-position-x: -300%;
}
.point_5 {
  background-position-x: -400%;
}
.point_6 {
  background-position-x: -500%;
}
.point_7 {
  background-position-x: -600%;
}

.no {
  grid-area: no;
  background-color: blueviolet;
}

.gem {
  grid-area: gem;
  background-size: 500% 100%;
  background-image: url(../images/gems.png);
  width: 40px;
  height: 35px;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px;
  /* position: absolute; */
}

.gem_Black {
  background-position-x: -200%;
}
.gem_Green {
  background-position-x: -400%;
}
.gem_Red {
  background-position-x: -300%;
}
.gem_Blue {
  background-position-x: -100%;
}
.gem_White {
  background-position-x: 0%;
}

.back_1 {
  background-position: 0% -500%;
}

.back_2 {
  background-position: -100% -500%;
}

.back_3 {
  background-position: -200% -500%;
}

.type_Red {
  background-position-y: -200%;
}

.type_Green {
  background-position-y: -300%;
}

.type_Black {
  background-position-y: -100%;
}

.type_White {
  background-position-y: -400%;
}
.type_Blue {
  background-position-y: 0%;
}

.card_img1 {
  background-position-x: 0%;
}
.card_img2 {
  background-position-x: -100%;
}
.card_img3 {
  background-position-x: -200%;
}
.card_img4 {
  background-position-x: -300%;
}
.card_img5 {
  background-position-x: -400%;
}

/* @media screen and (max-width: 800px) {
  .mainContainer * {
    height: 50%;
    width: 50%;
  }
} */
